/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

.league {
  font-family: "League Script", cursive;
}

.warm .temperature {
  background-color: #ffb700;
}

.hot .temperature {
  background-color: #ff41b4;
}

.cold .temperature {
  background-color: #00449e;
}

.error .temperature {
  background-color: #137752;
}

.thunderstorm .window {
  background-image: url(/images/window-thunderstorm.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.drizzle .window {
  background-image: url(/images/window-drizzle.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.rain .window {
  background-image: url(/images/window-rain.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.snow .window {
  background-image: url(/images/window-snow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.clear .window {
  background-image: url(/images/window-clear.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.clouds .window {
  background-image: url(/images/window-clouds.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.haze .window {
  background-image: url(/images/window-haze.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.mist .window {
  background-image: url(/images/window-haze.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.fog .window {
  background-image: url(/images/window-haze.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.breezy .petals {
  animation: flower 5s linear infinite;
  background-image: url(/images/petals.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  right: -10rem;
}

.windy .petals {
  animation: flower 10s linear infinite;
  background-image: url(/images/petals.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  right: -10rem;
}

@keyframes flower {
  0% {
    right: 10%;
  }
  100% {
    right: 70%;
  }
}

/*
@media (max-width: 500px) {
  .window {
    height: 75vw;
    width: 75vw;
  }
} */

.petals {
  height: 30vw;
  width: 30vw;
}

.window {
  height: 35vw;
  width: 35vw;
}
